<form method="post" action="/">
	<label>
		username
		<input name="username" />
	</label>
	<label>
		password
		<input name="password" type="password" />
	</label>
	<button type="submit">login</button>
</form>